<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SB-SMS</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <script src="/js/index.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
    href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&amp;display=swap"
    rel="stylesheet""stylesheet" />
    <script>
      function resetTable() {
        let input = document.getElementById("searchInput")
        input.value = ""

        let tableElement = document.querySelector("table")
        let trElements = tableElement.getElementsByTagName("tr")

        for (let i = 1; i < trElements.length; i++) {
          trElements[i].style.display = ""
        }
      }
      async function deleteUser(userId) {
        const confirmed = confirm(
          "Are you sure you want to delete this Student?"
        )

        if (confirmed) {
          try {
            const response = await fetch(`/dashboard/delete/${userId}`, {
              method: "PATCH",
            })
            if (response.ok) {
              window.location.reload()
            }
          } catch (error) {}
        }
      }

      function searchTable() {
        let input = document.getElementById("searchInput")
        let toSearch = input.value.toLowerCase()
        let tableElement = document.querySelector("table")
        let trElements = tableElement.getElementsByTagName("tr")

        for (let i = 1; i < trElements.length; i++) {
          let toHide = false
          let tdElements = trElements[i].getElementsByTagName("td")

          for (let j = 1; j < tdElements.length; j++) {
            if (tdElements[j]) {
              let txtValue =
                tdElements[j].textContent || tdElements[j].innerText

              if (txtValue.toLowerCase().includes(toSearch)) {
                toHide = true
                break
              }
            }
          }

          if (toHide) {
            trElements[i].style.display = ""
          } else {
            trElements[i].style.display = "none"
          }
        }
      }
    </script>
  </head>
  <body>
    <%- include('include/_navbar.ejs') %>
    <div class="px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl text-center mt-5 font-semibold">ACCESS LOGS</h1>

      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
          >
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"
                  >
                    SL NO.
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"
                  >
                    USER ID
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"
                  >
                    ACTION
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"
                  >
                    TARGET STUDENT ID
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"
                  >
                    TIMSTAMP
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <%for (let i=0; i < logs.length; i++){ %>

                <tr>
                  <td
                    class="whitespace-nowrap font-medium text-center px-3 py-5 text-sm text-gray-500"
                  >
                    <%= logs[i].slno %>
                  </td>
                  <td
                    class="whitespace-nowrap text-center px-3 py-5 text-sm text-gray-500"
                  >
                    <span
                      class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-500 ring-1 ring-inset ring-blue-600/20"
                    >
                      <%= logs[i].userid %>
                    </span>
                  </td>
                  <td
                    class="whitespace-nowrap text-center px-3 py-5 text-sm text-gray-500"
                  >
                    <% if (logs[i].action === "CREATE") { %>
                    <span
                      class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
                    >
                      <%= logs[i].action %>
                    </span>
                    <% } else if (logs[i].action === "UPDATE") { %>
                    <span
                      class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-700 ring-1 ring-inset ring-yellow-600/20"
                    >
                      <%= logs[i].action %>
                    </span>
                    <% } else if (logs[i].action === "DELETE") { %>
                    <span
                      class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20"
                    >
                      <%= logs[i].action %>
                    </span>
                    <% } %>
                  </td>
                  <td
                    class="whitespace-nowrap text-center px-3 py-5 text-sm text-gray-500"
                  >
                    <span
                      class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-500 ring-1 ring-inset ring-blue-600/20"
                    >
                      <%= logs[i].targetid %>
                    </span>
                  </td>
                  <td
                    class="whitespace-nowrap text-center px-3 py-5 text-sm text-gray-500"
                  >
                    <span
                      class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-xs font-medium text-purple-500 ring-1 ring-inset ring-purple-600/20"
                    >
                      <%= logs[i].timestamp %>
                    </span>
                  </td>
                </tr>

                <%} %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
